<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" type="text/css" media="all" />
<title>{% block title %}Portfel inwestycyjny{% endblock %}</title>
<link rel="stylesheet" href="{{ asset('bundles/portfel/css/print.css') }}" type="text/css" media="print" />
<link rel="stylesheet" href="{{ asset('bundles/portfel/css/reset.css') }}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ asset('bundles/portfel/css/style.css') }}" type="text/css" media="screen" />
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />


<script type="text/javascript" src="{{ asset('bundles/portfel/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/portfel/js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/portfel/js/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/portfel/js/engine.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/portfel/js/jquery.jqplot.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/portfel/js/jqplot.dateAxisRenderer.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/portfel/js/getAsyncContent.js') }}"></script>

</head>
<body>
    <!-- wrapper -->
    <div id="wrapper">
        <div id="top">
            <a href="{{ path('_welcome') }}">
                <img src="{{ asset('bundles/portfel/images/logo.png') }}" alt="Symfony">
            </a>
        </div>
        <div id="middle">
            <div id="left">
                <div id="bottom"></div>
                <div id="chartsview" class="bigchartsresize">
                    <div class="content" >
                        <ul id="chartslist" class="chartslist">
                            <li id="chartslist_1">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">1.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-1" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                            <li id="chartslist_2">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">2.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-2" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                            <li id="chartslist_3">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">3.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-3" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                            <li id="chartslist_4">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">4.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-4" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                            <li id="chartslist_5">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">5.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-5" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                        </ul>
                        <div class="clr"></div>
                    </div>

                </div>
                <div class="clr"></div>

                <div class="content">            
                {% if app.session.flash('notice') %}
                <div class="flash-message">
                <em>Notice</em>: {{ app.session.flash('notice') }}
                </div>
                {% endif %}

                {% block content_header %}
                <ul id="menu">
                {% block content_header_more %}
                <li><a href="{{ path('_demo') }}">Demo Home</a></li>
                {% endblock %}
                </ul>

                <div style="clear: both"></div>
                {% endblock %}

                <div class="symfony-content">
                {% block content %}
                {% endblock %}
                </div>

                {% if code is defined %}
                <h2>Code behind this page</h2>
                <div class="symfony-content">{{ code|raw }}</div>
                {% endif %}</div>
            </div>
            <div id="right">
                <div id="LGDlg" style="display: none;"></div>
                <div id="box_login">
                    <div id="header">
                        <h4 class="box_header">
                            <span>Logowanie</span>
                        </h4>
                        <div class="box">
                            <table cellspacing="0" cellpadding="0" border="0" id="login_table">
                                <tr>
                                    <td>
                                        <label id="username_label">Użytkownik:</label>
                                        <input class="text-input" type="text" id="username">
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <label id="password_label">Hasło:</label>
                                        <input class="text-input" type="password" id="password">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                        <input type="button" class="button" name="Zaloguj" id="" value="Zaloguj" onclick="$('#box_login').fadeOut(1000); return getAsyncContent('index/login?username='+escape($('#username').val())+'&password='+escape($('#password').val()),'none',null,runAfterLogin);">
                                    </td>    
                                </tr>
                            </table>
                            <div class="mbn">
                                <input id="" type="checkbox" name=""><a href="javascript:imgClick()" class="RememberMeLabel">Zapamiętaj</a>
                                | 
                                <a id="" href="profil/rejestracja.aspx">Rejestruj</a>
                                |
                                <a id="" href="regeneruj-link.aspx">Aktywuj</a>
                                |
                                <a id="" href="profil/odzyskaj-haslo.aspx">Odzyskaj hasło</a>
                            </div>
                        </div>
                    </div>

                </div>
                <br/>
                <div id="box-oragne">
                    <div id="header">
                        <h4 class="box_header">
                            <span>Twoje spółki</span>
                        </h4>
                        <div class="box-orange">
                            <div>
                                <ul>
                                <li><a onclick="Model.addchart(131)">VENO</a></li>
                                <li><a onclick="Model.addchart(132)">CDRED</a></li>
                                <li><a onclick="Model.addchart(133)">BORYSZEW</a></li>
                                <li><a onclick="Model.addchart(131)">VENO</a></li>
                                <li><a onclick="Model.addchart(132)">CDRED</a></li>
                                <li><a onclick="Model.addchart(133)">BORYSZEW</a></li> 
                                <li><a onclick="Model.addchart(131)">VENO</a></li>
                                <li><a onclick="Model.addchart(132)">CDRED</a></li>
                                <li><a onclick="Model.addchart(133)">BORYSZEW</a></li> 
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left;margin-top: 300px;"></div>
    </div><!-- wrapper -->
    
    <div id="footer">
        <div class="section">
            <div class="region region-footer">
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
