<div class="tiptip" style="margin: 0 0 0 -5px; padding:0 0 50px 0">
    <a href="{{ path('_welcome')}}" class="button left" title="Home"><span class="icon icon108"></span></a>
    <a href="#" class="button middle" title="Save"><span class="icon icon3"></span></a>
    <a href="{{ path('admin_user') }}" class="button middle" title="Lista użytkowników"><span class="icon icon127"></span></a>
    <a href="{{ path('my') }}" class="button middle" title="Portfele"><span class="icon icon23"></span></a>
    <a href="#" class="button middle" title="Save"><span class="icon icon105"></span></a>
    <a href="#" class="button middle" title="Dodaj do ulubionych"><span class="icon icon177"></span></a>
    <a href="#" class="button middle" title="Statystyki"><span class="icon icon179"></span></a>
    <a href="{{ path('fos_user_profile_edit') }}" class="button middle" title="Ustawienia"><span class="icon icon96"></span></a>
    <a href="{{ path('fos_user_security_logout') }}" class="button right" title="Wylogowanie"><span class="icon icon151"></span></a>

</div>
