{% extends "::base.html.twig" %} 
{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Akcje</th>
            <th>Ilość</th>
            <th>Prowizja</th>
            <th>Wartość</th>
            <th>Procent portfela</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
	    <td><a href="{{ path('public_history', { 'name' : entity.company, 'id' : wallet_id }) }}">{{ entity.company }}</a></td>
            <td>{{ entity.account }}</td>
            <td>{{ entity.provision }}</td>
            <td>{{ entity.amount }}</td>
            <td>{{ entity.amount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>

<button class="action red"><a href="{{ path('_welcome') }}"><span class="label">Dodaj do ulubionych</span></a></button>


<br/><br/>

{% if entities %}
<div id="pie" style="width: 670px; height: 260px; margin: 0 auto"></div>

<script type="text/javascript">
    $(document).ready(function(){
        if($("#pie").length){
            getPie('{{ path('public_pie', {'id' : wallet_id}) }}');
        }
    });
</script>
{% endif %}

{% endblock %}
