{% extends "::base.html.twig" %} 

{% block content %}
<div id="left">
    <div class="content">
        <h2 style="background: #35caed;">Po co się rejestrować ?</h2><br/>
		Aby móc otrzymywać informacje o wybranych nowościach w serwisie portfel inwestycyjny.<br/>
		Aby móc dodawać najlepszych inwestorów do swojej listy ulubionych.<br/>
		Aby móc kupować akcje i uczestniczyć w konkursach!! oraz wiele innych...<br/><br/>
		<br/>
        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}
        <br/>
            <form action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>
                <table style="border-collapse: separate;border-spacing: 2px;">
                    <tr>
                        <td class="register_left">{{ form_label(form.username) }}</td>
                        <td class="register_center">{{ form_widget(form.username) }}</td>
                        <td class="register_right">{{ form_errors(form.username) }}</td>
                    </tr>
                    <tr>
                        <td class="register_left">{{ form_label(form.password.password1) }}</td>
                        <td class="register_center">{{ form_widget(form.password.password1) }}</td>
                        <td class="register_right">{{ form_errors(form.password) }}</td>
                    </tr>
                    <tr>
                        <td class="register_left">{{ form_label(form.password.password2) }}</td>
                        <td class="register_center">{{ form_widget(form.password.password2) }}</td>
                    </tr>
                    <tr>
                        <td class="register_left">{{ form_label(form.email) }}</td>
                        <td class="register_center">{{ form_widget(form.email) }}</td>
                        <td class="register_right">{{ form_errors(form.email) }}</td>
                    </tr>
                </table>
                    
                
                {{ form_rest(form) }}
                
                
                <br/>
                <input class="button" type="submit" value="Zarejestruj" />
            </form>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <div id="dane_osobowe">Wyrażam zgode na przetwarzanie danych osobowych zawartych w formularzu rejestracyjnym w celach promocyjnych i marketingowych zgodnie z Ustawą z 29.08.1997r. o 
                ochronie danych osobowych (Dz. U. Nr 133, poz. 883) przez portal porfel inwestycyjny<br/>
                Wyrażam zgodę na otrzymywanie z serwisu informacji handlowych w rozumieniu ustawy z dn. 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. Nr 144, poz. 1204).
            </div><br/>

        </div>
    </div>
    <div id="right">
                {% include 'PortfelIndexBundle:Index:login.html.twig' %}
            <br/>
            <div id="box-oragne">
                <div id="header">
                    <h4 class="box_header">
                        <span>Twoje spółki</span>
                    </h4>
                    <div class="box-orange">
                        <div>
                            <ul>
                                <li><a onclick="Model.addchart(131)">VENO</a></li>
                                <li><a onclick="Model.addchart(132)">CDRED</a></li>
                                <li><a onclick="Model.addchart(133)">BORYSZEW</a></li>
                                <li><a onclick="Model.addchart(131)">VENO</a></li>
                                <li><a onclick="Model.addchart(132)">CDRED</a></li>
                                <li><a onclick="Model.addchart(133)">BORYSZEW</a></li> 
                                <li><a onclick="Model.addchart(131)">VENO</a></li>
                                <li><a onclick="Model.addchart(132)">CDRED</a></li>
                                <li><a onclick="Model.addchart(133)">BORYSZEW</a></li> 
                            </ul>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}