            <div id="LGDlg" style="display: none;"></div>
                <div id="box_login">
                    <div id="header">
                        <h4 class="box_header">
                            <span>Logowanie</span>
                        </h4>
                        <div class="box">
                            {% if app.user %}                      
                            Jesteś zalogowany jako <strong>{{ app.user.username }}</strong>  <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a><br/><br/>
                            {% else %}
                            {% block fos_user_content %}
                            {% if error is defined ? error : null %}
                                <div>{{ error }}</div>
                            {% endif %}
                            <form action="{{ path('fos_user_security_check') }}" method="post">
                            <table cellspacing="0" cellpadding="0" border="0" id="login_table">
                                <tr>
                                    <td>
                                        <label for="username" id="username_label">Użytkownik:</label>
                                        <input class="text-input" type="text" id="username" name="_username" />
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <label id="password_label">Hasło:</label>
                                        <input class="text-input" type="password" id="password" name="_password" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                        <input class="button" value="Zaloguj" type="submit" name="login" />
                                    </td>    
                                </tr>
                            </table>
                            </form>
                            <div class="mbn">
                                <input id="remember_me" type="checkbox" name="_remember_me"><a href="#" id="remember_click">Zapamiętaj</a>
                                | 
                                <a href="{{ path('fos_user_register') }}">Rejestruj</a>
                                |
                                <a id="" href="pomoc">Pomoc</a>
                                |
                                <a id="" href="{{ path('fos_user_change_password') }}">Odzyskaj hasło</a>
                            </div>
                            {% endblock fos_user_content %}
                            {% endif %}
                                
                        </div>

                    </div>

                </div>